body {
    margin: 0px;
}

.button-container,
.button,
.button>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.button-container {
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.button>a {
    margin: 5px 0px;
    height: 40px;
    background-color: var(--bialy);
}

.button>a:hover {
    margin: 5px 0px;
    height: 40px;
    color: var(--bialy);
    background-color: var(--czarny);

}