body {
    margin: 0px;
}

.side-menu-container,
.side-menu,
.side-menu>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.side-menu-container {
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.side-menu>a {
    margin: 5px 0px;
    height: 40px;
    background-color: var(--bialy)
}

.side-menu>a:hover {
    margin: 5px 0px;
    height: 40px;
    color: var(--bialy);
    background-color: var(--ciemnyfiolet);
}